<div class="die-result-overlay-br multiroll-overlay-br">
	<button
		data-action="rollState"
		data-state="lowest"
		title="{{localize 'br5e.chat.multiRollButtons.disadvantage.hint'}}"
	>
		<i class="fas fa-minus"></i>
	</button>
	<button
		data-action="rollState"
		data-state="highest"
		title="{{localize 'br5e.chat.multiRollButtons.advantage.hint'}}"
	>
		<i class="fas fa-plus"></i>
	</button>
</div>