<div class="card-buttons red-card-buttons" data-id="{{id}}">
    <button data-action="save" data-ability="{{ability}}">
        {{ localize "br5e.buttons.saveDC" }}
        <span {{#if hideDC}}class="hideSave"{{/if}} style="display: inline; line-height: inherit;">{{dc}}</span>
        {{ abilityLabel }} {{#if context}}[{{ context }}]{{/if}}
    </button>
</div>
