<div class="dice-roll red-dual" data-id="{{id}}" {{#if group}}data-group="{{group}}"{{/if}} data-type="{{damageRollType}}">
    {{#if damagetop}}
    <div class="br5e-roll-label">{{damagetop}}</div>
    {{/if}}
    <div class="dice-result">
		<div class="dice-formula dice-tooltip">{{formula}}</div>
		<div class="dice-row tooltips">
			{{#each tooltips}}
				<div class="tooltip dual-left dice-row-item">{{{this}}}</div>
			{{/each}}
		</div>
		<div class="dice-row">
			<h4 class="dice-total dice-row-item red-damage" data-damageType="{{damageType}}">
				{{#if base}}
				<div class="red-base-die inline red-base-damage {{base.critType}}" data-value="{{base.total}}">{{base.total}}</div>
				{{/if}}
				{{> "modules/betterrolls5e/templates/red-damage-crit.html" }}
				{{#if damagemid}}<div class="damage-type" style="line-height: 12px;">{{damagemid}}</div>{{/if}}
			</h4>
		</div>
		{{#if damagebottom}}<div class="damage-type">{{damagebottom}}</div>{{/if}}
    </div>
</div>
