{{#if crit}}
	{{#if base}}+ {{/if}}
	<div class="red-extra-die inline red-crit-damage {{crit.critType}}" data-value="{{crit.total}}">{{crit.total}}</div>
	{{#if crittext}}
		<div class="inline br5e-roll-label">{{crittext}}</div>
	{{/if}}
{{/if}}