<div class="dnd5e chat-card item-card">
	<header class="card-header flexrow red-header">
		<img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
		<h3 class="item-name">{{item.name}}</h3>
	</header>
	<div></div>
</div>